.clock {
  width: 345px;
  height: 345px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%; }

.clock {
  background-color: #53b7e8; }

.clock:before {
  content: '';
  width: 258px;
  height: 258px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1; }

.clock:before {
  background-color: #75bee9; }

.clock:after {
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 4;
  background-color: inherit; }

.clock[data-face-color='blue'] {
  background-color: #53b7e8; }

.clock[data-face-color='blue']:before {
  background-color: #75bee9; }

.clock[data-face-color='blue'] .clockHand {
  background-color: #ab3192; }

.clock[data-face-color='green'] {
  background-color: #79b93e; }

.clock[data-face-color='green']:before {
  background-color: white; }

.clock[data-face-color='green'] .clockHand {
  background-color: black; }

.handsWrapper {
  width: 100%;
  height: 100%; }

.clockHand {
  position: absolute;
  border-radius: 10px 10px 0px 0px;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  z-index: 1;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 1.25s;
  transition-timing-function: linear;
  transition-delay: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 3; }

.clockHand {
  background-color: #ab3192; }

.clockHand:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 14px;
  top: 96%;
  left: 50%;
  -webkit-transform: translate(-50%) rotate(180deg);
  -ms-transform: translate(-50%) rotate(180deg);
  transform: translate(-50%) rotate(180deg);
  border-radius: inherit;
  background-color: inherit; }

.clock[data-hand-color='violet'] .clockHand {
  background-color: #ab3192; }

.clock[data-hand-color='black'] .clockHand {
  background-color: black; }

.clockHand[data-type='hours'] {
  width: 10px;
  height: 70px;
  top: 105px;
  transition-duration: 1.25s;
  transition-delay: 0.75s; }

.clockHand[data-type='minutes'] {
  width: 8px;
  height: 110px;
  top: 65px;
  transition-duration: 1.25s;
  transition-delay: 0.75s; }

.clockHand[data-type='seconds'] {
  width: 4px;
  height: 124px;
  top: 51px;
  border-radius: 20px;
  transition-duration: 1s;
  transition-delay: 0.68182s; }

.dialWrapper {
  width: 258px;
  height: 258px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2; }

.dial {
  width: 258px;
  height: 258px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.dial:after {
  content: "";
  position: absolute;
  font-weight: bold;
  font-size: 22px;
  left: 50%;
  top: -39px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.dial:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 15px;
  background: white;
  border-radius: 1px;
  left: 50%;
  top: -7px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.clock[data-face-color='green'] .dial:before {
  background-color: black; }

.dial[data-dial="12"]:after {
  content: "12";
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.dial[data-dial="1"] {
  -webkit-transform: translate(-50%, -50%) rotate(30deg);
  -ms-transform: translate(-50%, -50%) rotate(30deg);
  transform: translate(-50%, -50%) rotate(30deg); }

.dial[data-dial="1"]:after {
  content: "1";
  -webkit-transform: translateX(-50%) rotate(-30deg);
  -ms-transform: translateX(-50%) rotate(-30deg);
  transform: translateX(-50%) rotate(-30deg); }

.dial[data-dial="2"] {
  -webkit-transform: translate(-50%, -50%) rotate(60deg);
  -ms-transform: translate(-50%, -50%) rotate(60deg);
  transform: translate(-50%, -50%) rotate(60deg); }

.dial[data-dial="2"]:after {
  content: "2";
  -webkit-transform: translateX(-50%) rotate(-60deg);
  -ms-transform: translateX(-50%) rotate(-60deg);
  transform: translateX(-50%) rotate(-60deg); }

.dial[data-dial="3"] {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  -ms-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg); }

.dial[data-dial="3"]:after {
  content: "3";
  -webkit-transform: translateX(-50%) rotate(-90deg);
  -ms-transform: translateX(-50%) rotate(-90deg);
  transform: translateX(-50%) rotate(-90deg); }

.dial[data-dial="4"] {
  -webkit-transform: translate(-50%, -50%) rotate(120deg);
  -ms-transform: translate(-50%, -50%) rotate(120deg);
  transform: translate(-50%, -50%) rotate(120deg); }

.dial[data-dial="4"]:after {
  content: "4";
  -webkit-transform: translateX(-50%) rotate(-120deg);
  -ms-transform: translateX(-50%) rotate(-120deg);
  transform: translateX(-50%) rotate(-120deg); }

.dial[data-dial="5"] {
  -webkit-transform: translate(-50%, -50%) rotate(150deg);
  -ms-transform: translate(-50%, -50%) rotate(150deg);
  transform: translate(-50%, -50%) rotate(150deg); }

.dial[data-dial="5"]:after {
  content: "5";
  -webkit-transform: translateX(-50%) rotate(-150deg);
  -ms-transform: translateX(-50%) rotate(-150deg);
  transform: translateX(-50%) rotate(-150deg); }

.dial[data-dial="6"] {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
  -ms-transform: translate(-50%, -50%) rotate(180deg);
  transform: translate(-50%, -50%) rotate(180deg); }

.dial[data-dial="6"]:after {
  content: "6";
  -webkit-transform: translateX(-50%) rotate(-180deg);
  -ms-transform: translateX(-50%) rotate(-180deg);
  transform: translateX(-50%) rotate(-180deg); }

.dial[data-dial="7"] {
  -webkit-transform: translate(-50%, -50%) rotate(210deg);
  -ms-transform: translate(-50%, -50%) rotate(210deg);
  transform: translate(-50%, -50%) rotate(210deg); }

.dial[data-dial="7"]:after {
  content: "7";
  -webkit-transform: translateX(-50%) rotate(-210deg);
  -ms-transform: translateX(-50%) rotate(-210deg);
  transform: translateX(-50%) rotate(-210deg); }

.dial[data-dial="8"] {
  -webkit-transform: translate(-50%, -50%) rotate(240deg);
  -ms-transform: translate(-50%, -50%) rotate(240deg);
  transform: translate(-50%, -50%) rotate(240deg); }

.dial[data-dial="8"]:after {
  content: "8";
  -webkit-transform: translateX(-50%) rotate(-240deg);
  -ms-transform: translateX(-50%) rotate(-240deg);
  transform: translateX(-50%) rotate(-240deg); }

.dial[data-dial="9"] {
  -webkit-transform: translate(-50%, -50%) rotate(270deg);
  -ms-transform: translate(-50%, -50%) rotate(270deg);
  transform: translate(-50%, -50%) rotate(270deg); }

.dial[data-dial="9"]:after {
  content: "9";
  -webkit-transform: translateX(-50%) rotate(-270deg);
  -ms-transform: translateX(-50%) rotate(-270deg);
  transform: translateX(-50%) rotate(-270deg); }

.dial[data-dial="10"] {
  -webkit-transform: translate(-50%, -50%) rotate(300deg);
  -ms-transform: translate(-50%, -50%) rotate(300deg);
  transform: translate(-50%, -50%) rotate(300deg); }

.dial[data-dial="10"]:after {
  content: "10";
  -webkit-transform: translateX(-50%) rotate(-300deg);
  -ms-transform: translateX(-50%) rotate(-300deg);
  transform: translateX(-50%) rotate(-300deg); }

.dial[data-dial="11"] {
  -webkit-transform: translate(-50%, -50%) rotate(330deg);
  -ms-transform: translate(-50%, -50%) rotate(330deg);
  transform: translate(-50%, -50%) rotate(330deg); }

.dial[data-dial="11"]:after {
  content: "11";
  -webkit-transform: translateX(-50%) rotate(-330deg);
  -ms-transform: translateX(-50%) rotate(-330deg);
  transform: translateX(-50%) rotate(-330deg); }
