/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0;
  border: none; }

* {
  -webkit-tap-highlight-color: transparent; }

body {
  -ms-touch-action: none !important; }

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

/* testing global non select */
html, body {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }

#wrapper {
  width: 1024px;
  height: 768px; }

#wrapper {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden; }

#wrapper {
  width: 1024px;
  height: 768px; }

#wrapper {
  position: absolute;
  width: 1024px;
  height: 768px;
  left: 0;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  transition: all 0.2s ease; }

body,
html,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
span,
a,
*:after,
*:before {
  font-family: Arial, Helvetica, Roboto, Droid Sans, Sans-Serif;
  font-style: normal;
  text-decoration: none;
  color: black; }

strong {
  font-weight: bold; }

i {
  font-style: italic; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.color-violet {
  color: #8d64aa; }

.background-violet {
  background-color: #8d64aa; }

.color-white {
  color: white; }

.background-white {
  background-color: white; }

.color-yellow {
  color: #ffcc32; }

.background-yellow {
  background-color: #ffcc32; }

#dotsWrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  width: 1024px;
  bottom: 0;
  padding-bottom: 15px; }

#dotsWrapper .dot {
  height: 48px;
  width: 48px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 3px; }

#dotsWrapper .dot:after {
  content: '';
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer; }

#dotsWrapper .dot:after {
  transition: background-color 0.2s linear; }

#dotsWrapper .dot[data-active="true"]:after {
  background-color: black; }

body.loading:after {
  content: "";
  width: 1em;
  height: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  border-radius: 50%;
  z-index: 9;
  -webkit-transform: translateZ(0) translate(-50%, -50%) rotate(0deg);
  transform: translateZ(0) translate(-50%, -50%) rotate(0deg);
  -webkit-animation: loadAnimation 1.8s infinite ease;
  animation: loadAnimation 1.8s infinite ease; }

@-webkit-keyframes loadAnimation {
  0% {
    -webkit-transform: translateZ(0) translate(-50%, -50%) rotate(0deg);
    transform: translateZ(0) translate(-50%, -50%) rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #8d64aa, 0 -0.83em 0 -0.42em #8d64aa, 0 -0.83em 0 -0.44em #8d64aa, 0 -0.83em 0 -0.46em #8d64aa, 0 -0.83em 0 -0.477em #8d64aa; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #8d64aa, 0 -0.83em 0 -0.42em #8d64aa, 0 -0.83em 0 -0.44em #8d64aa, 0 -0.83em 0 -0.46em #8d64aa, 0 -0.83em 0 -0.477em #8d64aa; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #8d64aa, -0.087em -0.825em 0 -0.42em #8d64aa, -0.173em -0.812em 0 -0.44em #8d64aa, -0.256em -0.789em 0 -0.46em #8d64aa, -0.297em -0.775em 0 -0.477em #8d64aa; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #8d64aa, -0.338em -0.758em 0 -0.42em #8d64aa, -0.555em -0.617em 0 -0.44em #8d64aa, -0.671em -0.488em 0 -0.46em #8d64aa, -0.749em -0.34em 0 -0.477em #8d64aa; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #8d64aa, -0.377em -0.74em 0 -0.42em #8d64aa, -0.645em -0.522em 0 -0.44em #8d64aa, -0.775em -0.297em 0 -0.46em #8d64aa, -0.82em -0.09em 0 -0.477em #8d64aa; }
  100% {
    -webkit-transform: translateZ(0) translate(-50%, -50%) rotate(360deg);
    transform: translateZ(0) translate(-50%, -50%) rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #8d64aa, 0 -0.83em 0 -0.42em #8d64aa, 0 -0.83em 0 -0.44em #8d64aa, 0 -0.83em 0 -0.46em #8d64aa, 0 -0.83em 0 -0.477em #8d64aa; } }

@keyframes loadAnimation {
  0% {
    -webkit-transform: translateZ(0) translate(-50%, -50%) rotate(0deg);
    transform: translateZ(0) translate(-50%, -50%) rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #8d64aa, 0 -0.83em 0 -0.42em #8d64aa, 0 -0.83em 0 -0.44em #8d64aa, 0 -0.83em 0 -0.46em #8d64aa, 0 -0.83em 0 -0.477em #8d64aa; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #8d64aa, 0 -0.83em 0 -0.42em #8d64aa, 0 -0.83em 0 -0.44em #8d64aa, 0 -0.83em 0 -0.46em #8d64aa, 0 -0.83em 0 -0.477em #8d64aa; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #8d64aa, -0.087em -0.825em 0 -0.42em #8d64aa, -0.173em -0.812em 0 -0.44em #8d64aa, -0.256em -0.789em 0 -0.46em #8d64aa, -0.297em -0.775em 0 -0.477em #8d64aa; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #8d64aa, -0.338em -0.758em 0 -0.42em #8d64aa, -0.555em -0.617em 0 -0.44em #8d64aa, -0.671em -0.488em 0 -0.46em #8d64aa, -0.749em -0.34em 0 -0.477em #8d64aa; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #8d64aa, -0.377em -0.74em 0 -0.42em #8d64aa, -0.645em -0.522em 0 -0.44em #8d64aa, -0.775em -0.297em 0 -0.46em #8d64aa, -0.82em -0.09em 0 -0.477em #8d64aa; }
  100% {
    -webkit-transform: translateZ(0) translate(-50%, -50%) rotate(360deg);
    transform: translateZ(0) translate(-50%, -50%) rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #8d64aa, 0 -0.83em 0 -0.42em #8d64aa, 0 -0.83em 0 -0.44em #8d64aa, 0 -0.83em 0 -0.46em #8d64aa, 0 -0.83em 0 -0.477em #8d64aa; } }
