

.color-violet {
  color: $violetColor;
}

.background-violet {
  background-color: $violetColor;
}


.color-white {
  color: rgb(255, 255, 255);
}

.background-white {
  background-color: rgb(255, 255, 255);
}