

// typography
body, 
html,
p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
li, 
span, 
a,
*:after,
*:before {

  // font-family: 'Open Sans';
  // font-family: 'Arial, Helvetica, Droid Sans, Roboto, sans-serif';
  // font-family: 'Arial', 'Helvetica', 'Droid Sans', 'Roboto', 'sans-serif';
  font-family: Arial, Helvetica, Roboto, Droid Sans, Sans-Serif;
  font-style: normal;
  
  font-size: 21px;
  line-height: 28px;
  
  text-decoration: none;

  color: rgb(0, 0, 0);

  // -webkit-font-smoothing: subpixel-antialiased; // This is default
  // -webkit-font-smoothing: antialiased;
  // -webkit-font-smoothing: none;
}

strong {
  font-weight: bold;
}

i {
  font-style: italic;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}